body {
    min-height: 100vh;
    margin: 0;
    background-color: #1f2937;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

button {
    background-color: #3882f6;
    border-color: #3882f6;
    border-style: solid;
    border-radius: 5px;
    margin: 0;
    color: #f9faf8;
    font-weight: bold;
    padding: 5px 25px;
}

.vert-container {
    display: flex;
    flex-direction: column;
}

.hori-container {
    display: flex;
    justify-content: space-between;
}

.header,
.sections {
    padding: 0 10%;
    gap: 10px;
}

.header {
    font-size: 24px;
    color: #f9faf8;
}

a, 
.hero p,
.footer {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.sections {
    flex: 1;
}

.section {
    flex: 1;
}

.hero {
    padding-top: 10px;
    color: #f9faf8;
}

#hero-header {
    font-size: 48px;
    margin: 0;
}

.hero .hori-container {
    gap: 10%;   
}

.image-placeholder {
    background-color: grey;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.hero-blurb {
    flex: 1;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}
